body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header,
aside,
footer {
	padding: 20px;
}

header {
	background-color: #333;
	color: #fff;
	font-size: 25px;
	font-weight: bold;
}

aside {
	background-color: #f4f4f4;
	width: 150px;
	float: left;
}

aside ul {
	list-style-type: none;
	padding: 0;
}

aside ul li {
	margin-bottom: 10px;
}

aside ul li a {
	text-decoration: none;
	color: #333;
	display: block;
	padding: 10px;
	border-radius: 5px;
	font-weight: 600;
}

aside ul li a:hover {
	background-color: #ddd;
	color: #fff;
}

section {
	padding: 20px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content {
	width: 100%;
}

.content-image {
	display: flex;
	justify-content: center;
}

.content-image img {
	width: 50%;
	height: auto;
	margin-bottom: 20px;
}

.content-logo {
	width: 80px;
	height: 80px;
	margin-bottom: 20px;
}

.content-logo img {
	width: 100%;
	height: auto;
}

.content h2 {
	text-align: center;
	margin-bottom: 30px;
}

.content p {
	text-align: justify;
	line-height: 25px;
}

.video-container {
	margin-top: 30px;
	display: flex;
	justify-content: center;
}
footer {
	background-color: #333;
	color: #fff;
	clear: both;
	text-align: center;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th,
td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

th {
	background-color: #f2f2f2;
}

form {
	background-color: #eee;
	border: 1px solid black;
	border-radius: 8px;
	padding: 10px;
	font-weight: bold;
}

form label,
form input {
	margin-bottom: 10px;
}
